<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Thymeleaf head injection -->
<head>
	 <th:block th:replace="layout/partials/head"></th:block>
</head>
	
	
<body>
    
<div class="container text-center">
            <img th:src="@{/images/3.png}" alt="error"  width=40% >
            </div>
   
    
   
    <!--page component starts here-->
   <div class="errorpage">
   
		   <h1>Error 500 - Server-Side Error</h1>
		  
		   <a th:ref="@{/error}"></a>
		
		   <p>Sorry, we are experiencing issues on our end. We are working to fix this problem.</p>
		
		   <a th:href = "@{/}">Go to Main Page</a>
   </div>
  
	
    <!--loading footer element-->
  <th:block th:replace="layout/partials/footer"/>
  
 </body>
</html>
 