<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Thymeleaf head injection -->
<head>
	 <th:block th:replace="layout/partials/head"></th:block>
</head>
	
	
<body>
    
<!--loading nav and header-->
<nav>
<th:block th:replace="layout/partials/nav">
</nav>
   
    
   
    <!--page component starts here-->
    
    <div class="container cont-table">


                <h1>Courses</h1>

              
	
		<table  class = "table table-hover thead-dark">
			<thead class="table-header">
				<tr>
					<th>
						<a th:href="@{'/pageCourse/' + ${currentPage} + '?sortField=courseCode&sortDir=' + ${reverseSortDir}}">
							Code</a>
					</th>
					<th>
					<a th:href="@{'/pageCourse/' + ${currentPage} + '?sortField=description&sortDir=' + ${reverseSortDir}}">
							Description</a>
					</th>
					<th>
					<a th:href="@{'/pageCourse/' + ${currentPage} + '?sortField=courseCost&sortDir=' + ${reverseSortDir}}">
							Cost</a>
					</th>
					<th>
					<a th:href="@{'/pageCourse/' + ${currentPage} + '?sortField=disabled&sortDir=' + ${reverseSortDir}}">
							Disabled</a>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="course : ${listCourse}">
					<td th:text="${course.courseCode}"></td>
					<td th:text="${course.description}"></td>
					<td th:text="${#numbers.formatDecimal(course.courseCost, 0, 'COMMA', 2, 'POINT')}"></td>
					<td> <strong class="badge" th:text="${course.disabled}" th:classappend="${course.disabled ? 'badge-danger' : 'badge-success'}"></strong> </td>
					<td> <a th:href="@{/showUpdateCourseForm/{courseId}(courseId=${course.courseId})}" class="btn btn-secondary">Update</a></td>
					
				</tr>
			</tbody>
		</table>
		
		<div th:if = "${totalPages > 1}">
			<div class = "row col-sm-10">
				<div class = "col-sm-2">
					Total Rows: [[${totalItems}]] 
				</div>
				
				<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/pageCourse/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
    				<a th:if="${currentPage < totalPages}" th:href="@{'/pageCourse/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
   				 </div>
   				 
				<div class = "col-sm-8">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/pageCourse/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>
					</span>
				</div>
				
			</div>
		</div>
        <a th:href = "@{/showNewCourseForm}" class="btn btn-primary btn-sm mb-3"> Add Course </a>
    </div>

    
    
    <!--loading footer element-->
  <footer>
  <th:block th:replace="layout/partials/footer"/>
  </footer> 
 </body>
</html>
 
