<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Thymeleaf head injection -->
<head>
	 <th:block th:replace="layout/partials/head"></th:block>
</head>
	
	
<body>
    
<div class="container text-center">
            <img th:src="@{/images/2.png}" alt="error"  width=40% >
            </div>
   
    
   
    <!--page component starts here-->
    
   <div class="errorpage">
   
   		  <h1>Thank you!</h1>
		  <a th:ref="@{/error}"></a>
		
		  <p>Your Email was sent.</p>
		  <p>We've sent you a confirmation Email.</p>


		  <a th:href = "@{/}">Go to Main Page</a>
   </div>
  
	
    <!--loading footer element-->
  <th:block th:replace="layout/partials/footer"/>
  
 </body>
</html>