<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Thymeleaf head injection -->
<head>
	 <th:block th:replace="layout/partials/head"></th:block>
</head>
	
	
<body>
    
<!--loading nav and header-->
<nav>
<th:block th:replace="layout/partials/nav">
</nav>
   
    
   
    <!--page component starts here-->
	<div class="container cont-table">
		<h1>Term Management System</h1>
		<hr>
		<h2>Save New Term</h2>

		<form action="#" th:action="@{/saveTerm}" th:object="${term}" method="POST">

			<input type="text" th:field="*{termCode}" placeholder="Term Code" class="form-control" required>
			<input type="text" th:field="*{description}" placeholder="Description" class="form-control"
				required>

			<label>Term Status:</label>
			<div class="form-group">
				<div class="custom-control custom-radio custom-control-inline">
					<input type="radio" class="custom-control-input" id="false" name="disabled" value="0"
						th:checked="*{disabled} == false" required>
					<label for="false" class="custom-control-label">Enabled</label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
					<input type="radio" class="custom-control-input" id="true" name="disabled" value="1"
						th:checked="*{disabled} == true" required>
					<label for="true" class="custom-control-label">Disabled</label>
				</div>
			</div>

			<button type="submit" class="btn btn-secondary">Save Term</button>
		</form>

		<hr>

		<a th:href="@{/terms}">Back to Term List</a>
	</div>
    
    <!--loading footer element-->
  <th:block th:replace="layout/partials/footer"/>
  
 </body>
</html>
