<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Thymeleaf head injection -->
<head>
	 <th:block th:replace="layout/partials/head"></th:block>
</head>
	
	
<body>
    
<!--loading nav and header-->
<nav>
<th:block th:replace="layout/partials/nav">
</nav>
   
    
   
    <!--page component starts here-->
    <div class="container cont-table">

		<h1>Course Management System</h1>
		<hr>
		<h2>Save New Course</h2>

		<form action="#" th:action="@{/saveCourse}" th:object="${course}"
			method="POST">

				<input type="text" th:field="*{courseCode}" placeholder="Course Code" class="form-control" required>
				<input type="text" th:field="*{description}" placeholder="Course Description" class="form-control" required>
				<input type="number" th:field="*{courseCost}" placeholder="0.00" step="0.01" min="0.00" max="1000000" class="form-control" required>

				<label>Course Status:</label>
				<div class="form-group">
	            	<div class="custom-control custom-radio custom-control-inline">
		                <input type="radio" class="custom-control-input" id="false" name="disabled" value="0" th:checked="*{disabled} == false" required>
		                <label for="false" class="custom-control-label">Enabled</label>
	           		</div>
		            <div class="custom-control custom-radio custom-control-inline">
									<input type="radio" class="custom-control-input" id="true" name="disabled" value="1" th:checked="*{disabled} == true" required>
									<label for="true" class="custom-control-label">Disabled</label>
		            </div>
				</div>

				<button type="submit" class="btn btn-primary">Save Course</button>
		</form>

		<hr>

		<a th:href = "@{/courses}">Back to Course List</a>
	</div>
    
    <!--loading footer element-->
  <th:block th:replace="layout/partials/footer"/>
  
 </body>
</html>
