<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Thymeleaf head injection -->
<head>
	 <th:block th:replace="layout/partials/head"></th:block>
</head>
	
	
<body>
    
<!--loading nav and header-->
<nav>
<th:block th:replace="layout/partials/nav">
</nav>
   
    
   
    <!--page component starts here-->
    <div class="container cont-table">
		<h1>Teacher Management System</h1>
		<hr>
		<h2>Save New Teacher</h2>

		<form action="#" th:action="@{/saveTeacher}" th:object="${teacher}"
			method="POST">

				<input type="text" th:field="*{teacherCode}" placeholder="Teacher Code" class="form-control" required>
				<input type="text" th:field="*{firstName}"	placeholder="Teacher First Name" class="form-control" required>
				<input type="text" th:field="*{lastName}"	placeholder="Teacher Last Name" class="form-control" required>
				<input type="email" th:field="*{teacherEmail}"	placeholder="Teacher Email" class="form-control" required>

				<label>Teacher Status:</label>
				<div class="form-group">
		            <div class="custom-control custom-radio custom-control-inline">
		                <input type="radio" class="custom-control-input" id="false" name="disabled" value="0" th:checked="*{disabled} == false" required>
		                <label for="false" class="custom-control-label">Enabled</label>
		            </div>
		            <div class="custom-control custom-radio custom-control-inline">
									<input type="radio" class="custom-control-input" id="true" name="disabled" value="1" th:checked="*{disabled} == true" required>
									<label for="true" class="custom-control-label">Disabled</label>
		            </div>
				</div>

				<button type="submit" class="btn btn-secondary">Save Teacher</button>
		</form>

		<hr>

		<a th:href = "@{/teachers}">Back to Teacher List</a>
	</div>
    
    
    <!--loading footer element-->
  <th:block th:replace="layout/partials/footer"/>
  
 </body>
</html>
