<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Thymeleaf head injection -->
<head>
	 <th:block th:replace="layout/partials/head"></th:block>
</head>
	
	
<body>
    
<!--loading nav and header-->
<nav>
<th:block th:replace="layout/partials/nav">
</nav>
   
    
   
    <!--page component starts here-->

     <div class="container cont-table">
		<form th:action="@{/logout}" method="post">
			<p>You are logged in.</p>
			<input class="btn btn-lg btn-secondary btn mb-3" type="submit" value="Logout" />
		</form>

                <h1>Registrations</h1>

              
	
		<table  class = "table table-hover thead-dark">
			<thead class="table-header">
				<tr>
					<th>
						<a th:href="@{'/pageRegistration/' + ${currentPage} + '?sortField=registrationCode&sortDir=' + ${reverseSortDir}}">
							Code</a>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="registration : ${listRegistration}">
					<td th:text="${registration.registrationCode}"></td>
					<td> <a th:href="@{/showUpdateRegistrationForm/{registrationId}(registrationId=${registration.registrationId})}" class="btn btn-secondary">Update</a></td>
					<td> <a th:href="@{/deleteRegistration/{registrationId}(registrationId=${registration.registrationId})}" class="btn btn-danger">Delete</a></td>
					
				</tr>
			</tbody>
		</table>
		
		<div th:if = "${totalPages > 1}">
			<div class = "row col-sm-10">
				<div class = "col-sm-2">
					Total Rows: [[${totalItems}]] 
				</div>
				<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/pageRegistration/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>
				
				 <div class="col-sm-1">
    				<a th:if="${currentPage < totalPages}" th:href="@{'/pageRegistration/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
   				 </div>
   				 
				<div class = "col-sm-8">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/pageRegistration/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>
					</span>
				</div>
				
			</div>
		</div>

        <a th:href = "@{/showNewRegistrationForm}" class="btn btn-primary btn-sm mb-3"> Add Registration </a>
        
		<!-- log out button -->
		<form th:action="@{/logout}" method="post">
			<input class="btn btn-lg btn-secondary btn-block mb-3" type="submit" value="Logout" />
		</form>
		
    </div>
    
    <!--loading footer element-->
  <th:block th:replace="layout/partials/footer"/>
  
 </body>
</html>
 
