<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Thymeleaf head injection -->
<head>
	 <th:block th:replace="layout/partials/head"></th:block>
</head>
	
	
<body>
    
<!--loading nav and header-->
<nav>
<th:block th:replace="layout/partials/nav">
</nav>
   
    
   
    <!--page component starts here-->
    
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet" />

<script>
    $('[data-toggle="switch"]').bootstrapSwitch();
</script>

     <div class="container cont-table">


                <h1>Students</h1>

              
	
		<table  class = "table table-hover thead-dark">
			<thead class="table-header">
				<tr>
					<th>
						<a th:href="@{'/pageStudent/' + ${currentPage} + '?sortField=studentCode&sortDir=' + ${reverseSortDir}}">
							Code</a>
					</th>
					<th>
					<a th:href="@{'/pageStudent/' + ${currentPage} + '?sortField=firstName&sortDir=' + ${reverseSortDir}}">
							First Name</a>
					</th>
					<th>
					<a th:href="@{'/pageStudent/' + ${currentPage} + '?sortField=lastName&sortDir=' + ${reverseSortDir}}">
							Last Name</a>
					</th>
					<th>
					<a th:href="@{'/pageStudent/' + ${currentPage} + '?sortField=studentEmail&sortDir=' + ${reverseSortDir}}">
							Email</a>
					</th>
					<th>
					<a th:href="@{'/pageStudent/' + ${currentPage} + '?sortField=dateOfBirth&sortDir=' + ${reverseSortDir}}">
							Date of Birth</a>
					</th>
					<th>
					<a th:href="@{'/pageStudent/' + ${currentPage} + '?sortField=disabled&sortDir=' + ${reverseSortDir}}">
							Disabled</a>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="student : ${listStudent}">
					<td th:text="${student.studentCode}"></td>
					<td th:text="${student.firstName}"></td>
					<td th:text="${student.lastName}"></td>
					<td th:text="${student.studentEmail}"></td>
					<td th:text="${#dates.format(student.dateOfBirth, 'yyyy-MM-dd')}"></td>
					<td> <strong class="badge" th:text="${student.disabled}" th:classappend="${student.disabled ? 'badge-danger' : 'badge-success'}"></strong> </td>
					<td> <a th:href="@{/showUpdateStudentForm/{studentId}(studentId=${student.studentId})}" class="btn btn-secondary">Update</a></td>
					
					
					
				</tr>
			</tbody>
		</table>

		<div th:if = "${totalPages > 1}">
			<div class = "row col-sm-10">
				<div class = "col-sm-2">
					Total Rows: [[${totalItems}]] 
				</div>
				<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/pageStudent/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>
				
				 <div class="col-sm-1">
    				<a th:if="${currentPage < totalPages}" th:href="@{'/pageStudent/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
   				 </div>
				<div class = "col-sm-8">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/pageStudent/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>
					</span>
				</div>
				
			</div>
		</div>

        <a th:href = "@{/showNewStudentForm}" class="btn btn-primary btn-sm mb-3"> Add Student </a>

    </div>
    <!--loading footer element-->
  <th:block th:replace="layout/partials/footer"/>
  
 </body>
</html>
