<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Thymeleaf head injection -->
<head>
	 <th:block th:replace="layout/partials/head"></th:block>
</head>
	
	
<body>
    
<!--loading nav and header-->
<nav>
<th:block th:replace="layout/partials/nav">
</nav>
   
    
   
    <!--page component starts here-->
    
    <div class="container cont-table">
                 <h1>Student Images</h1>
                 <table  class = "table table-hover thead-dark">
			<thead class="table-header">
				<tr>
					<th>
						<a th:href="@{'/pageStudentImage/' + ${currentPage} + '?sortField=studentImageCode&sortDir=' + ${reverseSortDir}}">
							Code</a>
					</th>
					<th>
					<a th:href="@{'/pageStudentImage/' + ${currentPage} + '?sortField=studentImageAdd&sortDir=' + ${reverseSortDir}}">
							Image</a>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="studentImage : ${listStudentImage}">
					<td th:text="${studentImage.studentImageCode}"></td>
					<td> <img th:src="@{${studentImage.studentImageFileImagePath}}" style="width:100px; height:100px;"></td>
					<td> <a th:href="@{/showUpdateStudentImageForm/{studentImageId}(studentImageId=${studentImage.studentImageId})}" class="btn btn-secondary">Update</a></td>
					
				</tr>
			</tbody>
		</table> 
		
		<div th:if = "${totalPages > 1}">
			<div class = "row col-sm-10">
				<div class = "col-sm-2">
					Total Rows: [[${totalItems}]] 
				</div>
					<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/pageStudentImage/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>
				
				 <div class="col-sm-1">
    				<a th:if="${currentPage < totalPages}" th:href="@{'/pageStudentImage/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
   				 </div>
				<div class = "col-sm-8">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/pageStudentImage/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>
					</span>
				</div>
			
			</div>
		</div>

        <a th:href = "@{/showNewStudentImageForm}" class="btn btn-primary btn-sm mb-3"> Add Student Image</a>

    </div>
                 
                 
                 
             
    <!--loading footer element-->
  <th:block th:replace="layout/partials/footer"/>
  
 </body>
</html>
 
