<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Thymeleaf head injection -->
<head>
	 <th:block th:replace="layout/partials/head"></th:block>
</head>
	
	
<body>
    
<!--loading nav and header-->
<nav>
<th:block th:replace="layout/partials/nav">
</nav>
    
   
    <!--page component starts here-->
    
     <div class="container cont-table">


                <h1>Terms</h1>

              
	
		<table  class = "table table-hover thead-dark">
			<thead class="table-header">
				<tr>
					<th>
						<a th:href="@{'/pageTerm/' + ${currentPage} + '?sortField=termCode&sortDir=' + ${reverseSortDir}}">
							Code</a>
					</th>
					<th>
					<a th:href="@{'/pageTerm/' + ${currentPage} + '?sortField=description&sortDir=' + ${reverseSortDir}}">
							Description</a>
					</th>
					<th>
					<a th:href="@{'/pageTerm/' + ${currentPage} + '?sortField=disabled&sortDir=' + ${reverseSortDir}}">
							Disabled</a>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="term : ${listTerm}">
					<td th:text="${term.termCode}"></td>
					<td th:text="${term.description}"></td>
					<td> <strong class="badge" th:text="${term.disabled}" th:classappend="${term.disabled ? 'badge-danger' : 'badge-success'}"></strong> </td>
					<td> <a th:href="@{/showUpdateTermForm/{termId}(termId=${term.termId})}" class="btn btn-secondary">Update</a></td>
					
				</tr>
			</tbody>
		</table>
		
		<div th:if = "${totalPages > 1}">
			<div class = "row col-sm-10">
				<div class = "col-sm-2">
					Total Rows: [[${totalItems}]] 
				</div>
				<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/pageTerm/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>
				
				 <div class="col-sm-1">
    				<a th:if="${currentPage < totalPages}" th:href="@{'/pageTerm/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
   				 </div>
				<div class = "col-sm-8">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/pageTerm/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>
					</span>
				</div>
				
			</div>
		</div>

        <a th:href = "@{/showNewTermForm}" class="btn btn-primary btn-sm mb-3"> Add Term </a>

    </div>
    
    
    <!--loading footer element-->
    <footer>
  <th:block th:replace="layout/partials/footer"/>
    </footer>
 </body>
</html>
 
