<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Thymeleaf head injection -->
<head>
	 <th:block th:replace="layout/partials/head"></th:block>
</head>
	
	
<body>
    
<!--loading nav and header-->
<nav>
<th:block th:replace="layout/partials/nav">
</nav>
   
    
   
    <!--page component starts here-->
	<div class="container cont-table">

		<h1>Student Management System</h1>
		<hr>
		<h2>Update Student</h2>

		<form action="#" th:action="@{/saveStudent}" th:object="${student}"
			method="POST">

				<!-- Add hidden form field to handle update -->
				<input type="hidden" th:field="*{studentId}" />

				<input type="text" th:field="*{studentCode}" placeholder="Student Code" class="form-control" required>
				<input type="text" th:field="*{firstName}" placeholder="Student First Name" class="form-control" required>
				<input type="text" th:field="*{lastName}" placeholder="Student Last Name" class="form-control" required>
				<input type="email" th:field="*{studentEmail}" placeholder="Student Email" class="form-control" required>
        <input type="date" th:field="*{dateOfBirth}" placeholder="Student Date of Birth" class="form-control" required>

				<label>Student Status:</label>
				<div class="form-group">
						<div class="custom-control custom-radio custom-control-inline">
								<input type="radio" class="custom-control-input" id="false" name="disabled" value="0" th:checked="*{disabled} == false" required>
								<label for="false" class="custom-control-label">Enabled</label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
							<input type="radio" class="custom-control-input" id="true" name="disabled" value="1" th:checked="*{disabled} == true" required>
							<label for="true" class="custom-control-label">Disabled</label>
						</div>
				</div>

				<button type="submit" class="btn btn-info col-2">Update Student</button>
		</form>

		<hr>

		<a th:href="@{/students}">Back to Student List</a>
	</div>
   
    <!--loading footer element-->
  <th:block th:replace="layout/partials/footer"/>
  
 </body>
</html>
