<footer class="footer mt-auto py-3 fixed-bottom" style="background-color: rgb(143, 143, 143);">
    <div class="container-fluid">
      <small class="p-2 text-light" th:text="#{copyright.message}"></small>
    </div>
</footer>
