<header>
    <a href="index.html" class="navbar-brand d-flex align-items-center text-secondary">
      <img src="/images/logo.svg" width="40px" />
      <strong>CEJV559-Team2</strong>
    </a>
  </header>