<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 border-bottom shadow-sm" style="background-color: rgb(221, 221, 221);">
    <h5 class="my-0 mr-md-auto fw-normal">
        <a th:href="@{/}" class="navbar-brand d-flex align-items-center text-secondary">
        <img th:src="@{/images/logo.png}" width="40px" class="mr-2"/>
          <strong> CEJV559-Team2</strong>
    </a>
    </h5>
    <nav class="my-2 my-md-0 me-md-3">
    <a href="#" class="toggle-button">&#9776;
    	<span class="bar"></span>
    	<span class="bar"></span>
    	<span class="bar"></span>
    	<span class="bar"></span>
    	<span class="bar"></span>
    	<span class="bar"></span>
    	<span class="bar"></span>
    	<span class="bar"></span>
    </a>
    <div class="navbar-links">
    <ul>
    	<li><a class="p-2" th:href="@{/}" th:text="#{nav1.message}"></a> </li>
    	<li><a class="p-2" th:href="@{/about}" th:text="#{nav2.message}"></a> </li>
    	<li><a class="p-2" th:href="@{/courses}"th:text="#{nav3.message}"></a> </li>
    	<li><a class="p-2" th:href="@{/departments}" th:text="#{nav4.message}"></a> </li>
    	<li><a class="p-2" th:href="@{/teachers}" th:text="#{nav5.message}"></a> </li>
    	<li><a class="p-2" th:href="@{/students}" th:text="#{nav6.message}"></a> </li>
    	<li><a class="p-2" th:href="@{/student_images}" th:text="#{nav7.message}"></a> </li>
    	<li><a class="p-2" th:href="@{/terms}" th:text="#{nav8.message}"></a> </li>
    	<li><a class="p-2" th:href="@{/contact}" th:text="#{nav9.message}"></a> </li>
    </ul>
    </div>
        
    </nav>
   
</div>

<script>
	const toggleButton = document.getElementsByClassName('toggle-button')[0]
	const navbarLinks = document.getElementsByClassName('navbar-links')[0]
	
	toggleButton.addEventListener('click',() =>{
		navbarLinks.classList.toggle('active')
	})
</script>
